<div class="container">
  <form class="form" (submit)="onSubmit()">
    <mat-form-field class="field">
      <mat-label>Senha</mat-label>
      <input type="password" matInput [formControl]="controlSenha" placeholder="Senha">
      <mat-error *ngIf="controlSenha.hasError('required')">
        Preencha o campo senha.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Senha repetida</mat-label>
      <input type="password" matInput [formControl]="controlSenhaRepetida" placeholder="Senha Repetida">
      <mat-error *ngIf="controlSenhaRepetida.hasError('required')">
        Preencha o campo senha repetida.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit">Mudar senha</button>
  </form>
</div>